services:
  application:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: star-wars-api.application
    ports:
      - "8080:8080"
    environment:
      JAVA_OPTS: "-Xms256m -Xmx256m"
      LOG_BASE_DIR: "/var/log"
      SPRING_DATA_MONGODB_URI: "mongodb://admin:password@mongo:27017"
    volumes:
      - "${HOST_APP_DATA_DIR:-./app-data}/star-wars-api/log:/var/log/star-wars-api"
    depends_on:
      - mongo
  mongo:
    extends:
      file: compose-mongo.yml
      service: mongo
