services:
  application:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: star-wars-api.application
    ports:
      - "8080:8080"
    environment:
      JAVA_OPTS: "-Xms256m -Xmx256m"
      LOG_BASE_DIR: "/var/log"
    volumes:
      - "${HOST_APP_DATA_DIR:-./app-data}/star-wars-api/log:/var/log/star-wars-api"
